/* navbar styling */

.navbar {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-content: center;
    border-bottom: black solid 2px;
}

.logout-btn {
    height: 5vh;
    margin-top: 5px;
    background-color: #83A4F9;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}

/* homepage container, not logged in */

.home-container {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    width: 100vw;
    background-color: #83A4F9;
    /* position: relative; */
}

.mantra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    color: white;

}

/* login and signup cards */
.auth-container-card {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 80%;
    /* justify-content: center; */
    /* align-content: space-between; */
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    font-family: Montserrat, sans-serif;
}

.auth-card-header{
    display: flex;
    justify-content: center;
    
    /* font-weight: 100; */
}
.auth-card-title {
    font-weight: 400;
}

.login-form {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
}

.login-label {
    padding-top: 10px;
}

.login-input {
    width: 75%;
    border-radius: 5px;
    border: #e3e3e3 solid 1px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login-submit {
    height: 5vh;
    width: 20%;
    background-color: #6d91ed;
    border-radius: 5px;
    border-color: transparent;
    color: white;
}
